*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo-heading{
  background-color: #F1ECE6;
  color: #969696;
  padding-top: 20px;
  padding-bottom: 20px;
}

.orange-text,.todoList h6 {
  color: #D98326;
}

.addTodo-form{
  background-color: #F1ECE6;
}

.addTodo-heading, .todoList p{
  color: #858181;
}

.todoList{
  background-color: #F1ECE6;
}








